<%= header_section %>
<%= body_section %>

<h1>住所の削除</h1>

以下の登録データを削除します。

<table>
  <tr>
    <td>id:</td> <td><%=h @address.id %></td>
  </tr>
  <tr>
    <td>名前:</td> <td><%=h @address.name %></td>
  </tr>
</table>

<form method="post" action="destroy.rb">
<input type="hidden" name="id" value="<%=h @address.id %>">
<input type="submit" value="削除">
</form>

<%= footer_section %>
